<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gambar</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <header>
        <div class="header">
            <ul>
                <li><a href="https://tararahuuw.github.io/#Projects" class=>Project</a></li>
                <li><a href="#">Web Scrapping</a></li>
                <li><a href="#">Images</a></li>
                <li><a href="https://github.com/tararahuuw/Algeo02-19077">About</a></li>
            </ul>
        </div>
        <div class="main">
            <img class="gambar1" src="../static/Prototype1.png" alt="Prototype1.png">
            <img class="gambar2" src="../static/Prototype2.png" alt="Prototype2.png">
            <img class="gambar3" src="../static/muka.png" alt="muka.png">
        </div>
    </header>
</body>
</html>