<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Perihal</title>
</head>
<body>
    <h2>Konsep</h2>
    <p>Mesin pencarian yang kami buat bernama "Mbah Google", cara kerjanya dengan menerapkan Sistem Temu-Balik.</p>
    <h2>How to Use</h2>
    <li>Unggah beberapa dokumen</li>
    <li>Ketik query di tempat yang telah disediakan</li>
    <li>Mesin akan mengurutkan kemiripan query dengan dokumen</li>
    <h2>About Us</h2>
    <p>"Mbah Google" dibuat oleh kelompok 30 Tubes 2 Algeo 2020/2021, kelompok ini bernama AHHA.</p>
    <b>AHHA Team:</b>
    <li>Muhammad Fahmi <b>A</b>lamsyah (13519077)</li>
    <li><b>H</b>abibina Arif Muzayyan (13519125)</li>
    <li>Delis<b>HA</b> Azza Naadira (13519133)</li>
    <a href="..">Home</a>
</body>
</html>